td {
    border:1px solid #dddddd;
    padding: 2px !important;
    width: 16px !important;
    height: 16px !important;
}

table {
    table-layout: fixed;
}

.first {
    font-size: 8px;
}

.border-solid {
    border-left: 2px #888888 solid;
}
