{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Askipiikki</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>Voitto!</h3>
                    <p>
                        Über! Piikkisi on nyt automaattisesti generoitu ja odottaa askivahtien
                        tulostusta. Löydät sen piakkoin ASkin piikkikansiosta.

                        <br />
                        Voit toki sulkea tämän sivun.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
<
